/* hi */

*{
	margin: 0;
	padding: auto;
}

body {
	overflow-x: hidden;
	overflow-y: hidden;
}

@font-face {
    font-family: "Minecraft";
    src: url(../fonts/mc_font.ttf);
}

@keyframes animFadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes animFadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
	
}

@keyframes rotate {
	0% {
	  transform: rotate(0);
	}
	100% {
	  transform: rotate(360deg);
	}
}

.bg-img {
	background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../textures/img.jpg);
	height: 100vh;
	filter: blur(4px);
	transform: scale(1.1);
}

header {

	background-size: cover;
	background-position: center;
}

ul {
	position: fixed;
	float: right;
	list-style-type: none;
	right: 85px;
	margin-top: -640px;
	margin-right: -74px;
	animation: animFadeIn 2s;
}

ul li {
	display: inline-block;
}

ul li a {
	text-decoration: none;
	color: #6c74f6;
	padding: 5px;
	border: 1px solid #6c74f6;
	transition: 0.2s ease;
}

ul li a:hover {
	background-color: #6c74f6;
	color: #000;
}

ul li.active a {
	background-color: #6c74f6;
	color: #000;
}

.tooltip {
	position: relative;
	display: inline-block;
}
  
.tooltip .tooltiptext {
	font-size: 14px;
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	top: 170%;
	left: 50%;
	margin-left: -60px;
}
  
.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent black transparent;
}
  
.tooltip:hover .tooltiptext {
	visibility: visible;
}

.logo {
	animation: animFadeIn 2s;
	animation-fill-mode: backwards;
}

.logo img {
	position: fixed;
	top: -10px;
	left: 85px;
	width: 150px;
	height: auto;
	margin-left: -74px;
}

.watermark {
	animation: animFadeIn 2s;
	animation-fill-mode: backwards;
}

.watermark img {
	width: 60px;
	height: auto;
	position: fixed;
	bottom: 5px;
	right: 5px;
	opacity: 0.5;
	z-index: 99;
	animation-name: rotate;
	animation-duration: 2s;
	animation-delay: 2s;
}

.watermark:hover img {
	animation: rotate 2s infinite;
}

.main {
	max-width: 1200px;
	margin: auto;
	font-family: Century Gothic;
}

.desc {
	color: #fff;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 50%);
	animation-name: animFadeIn;
	animation-duration: 2s;
	animation-delay: 1s;
	animation-fill-mode: backwards;
}

.desc a {
	color: rgb(0, 206, 190);
	text-decoration: none;
	transition: 0.2s ease;
}

.desc a:hover {
	color: rgb(0, 0, 255);
	text-decoration: none;
}

.desc a.active {
	color: rgb(0, 255, 255);
	text-decoration: none;
}

.title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: "Minecraft";	
}

.title h1 {
	color: rgb(0, 4, 255);
	font-size: 70px;
	animation: animFadeIn 2s;
}
