*{
    font-family: Arial, Helvetica, sans-serif;
}

.clientdevlinks {
    position: absolute;
    left: 50%;
    top : 25%;
    transform: translate(-50%, -50%);
}

.links{
    text-align: center;
}

.suggestion {
    position: absolute;
	left: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
}
